@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Grand+Hotel&family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;1,300;1,400&family=Josefin+Sans:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif' ;

}

.container{
  max-width: 1300px;
}

.a{
  text-decoration: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box{
  position: absolute;
  margin: 6rem 0px;
  min-height: 70vh;
  height: 30rem;
  width: 100%;
  padding: 2rem;
  border-radius: 2%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}
.leftPart{
  position: relative;

 height: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightPart{
  position: relative;
  height: 100%;
}

.banner-title{
  font-family: 'Cormorant Garamond';
  font-weight: 800;
  color: 'black';
  font-size: 40px;
  text-align: center;
}

.banner-content{
  font-family: 'Cormorant Garamond';
 
  font-weight: 500;
  color: '#555';
  font-size: 30px;
 
}
.buttonLogin:hover{
  box-shadow: 1px 8px 9px rgba(0,0,0,0.1);
  transition: all 0.6s;
}

#nprogress .bar{
  height: 4px !important;
  background: #835858 !important;
}
#nprogress . peg{
  box-shadow: 0 0 10px #835858, 0 0 5px #835858 !important;
}

.custom-link {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  list-style-type: none;
}

.custom-link:hover {
  color: #835858;
  text-decoration: none;
}

.custom-link:active{
  color: #835858;
  text-decoration: none;
}

.scroll-bar{
max-height: 100px;
max-width: 300px;
overflow-y: scroll;
}

.custom-input{
  width: 100%;
  border: none;
  border-bottom: 1px black solid;
  outline: none;
  fontFamily: Cormorant Garamond;
  color: #555;
  fontSize: 1.2rem;
  margin-bottom: 10px;
}
.custom-input-file:hover{
  color: green;
  background-color: rgb(100, 100, 85);
  transition: 0.6s;
}

.custom-input-number{
  width: 30%;
  text-align: center;
  border: none;
  border-bottom: 1px black solid;
  outline: none;
           fontFamily: Cormorant Garamond;
                                 color: #555;
                                 fontSize: 1.2rem;
}

.custom-text{
  font-family: 'Cormorant Garamond';
  color: '#555';
  font-size: 18px;
  text-align: center;
}
.custom-text-left{
  font-family: 'Cormorant Garamond';
  color: '#555';
  font-size: 18px;
  text-align: left;
}

.custom-heading{
  font-family: 'Cormorant Garamond';
  color: '#555';
  font-size: 1.8rem;
  text-align: center;
}

.custom-button{
  margin: 2rem 1rem;
  padding: 10px 20px;
  border: 1px #ccc solid;
   background-color: white;
}

.custom-button-active{
  margin: 2rem 1rem;
  padding: 10px 20px;
  border: 1px #ccc solid;
   background-color: #39311d;
   color: white;
}
.custom-button:hover{
  color: whitesmoke;
  background-color: rgb(85, 85, 85);
  transition: 0.6s;
}

.custom-background{
  background-image: url('/img/background.png');
  background-position: center;
  background-size: cover;
}

.custom-background-body{
  background-image: url('/img/background2.png');
  background-position: center;
  background-size: cover;
}

.header-text{
  font-family: 'Cormorant Garamond';
  color: '#555';
  font-size: 40px;
}


.dashboard{
  display: flex;
  overflow-y: hidden;
}

.left-side-dashboard{
  width: 100%;
  height: 100%;
  background-color: rgb(252,252,252);
  overflow-y: hidden;
}

.right-side-dashboard{
  height: 100vh;
  width: 100vw;
}

.first-row{
  display: flex;
  width: 100%;
  height: 30%;
}
.second-row{
  display: flex;
  width: 100%;
  height: 35%;

}

.third-row{
  display: flex;
  width: 100%;
  height: 35%;
}



.text-admin{
  font: 100 16px 'Noto Sans';
  color: #92817a;
}

.header-admin{
  font: 100 20px 'Noto Sans';
  color: black;
  margin: 20px 0;
}

.heading-admin{
  font: 700 20px 'Noto Sans';
  color: black;
  font-size: 24px;
  margin: 20px 0;
}

.profit-card{
  padding: 20px;
  width: 100%;
  height: 100%;
  background-image: url('/img/profit.png');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.profit-card-header{
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}
.profit-card-content{
  font-family: 'Noto Sans';
  font-weight: 100;
  font-size: 16px;
 
  margin: 0;
  margin-left:20px;
}

.profit-card-content::before{
  content: " ";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: black;
}

.book-card{
  width: 30%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-card{
  width: 30%;
  padding: 20px;
  height: 70%;
  border-radius: 20px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.navigation ul{
  margin-top: 40px;
}

.navigation ul li a{
  display: block;
  font-family: 'Noto Sans';
  font-weight: 500;
  height: 100%;
  width: 100%;
  line-height: 40px;
  color: white;
  font-size : 16px;
  padding-left:20px;
  box-sizing: border-box;
  transition: 0.4s;
}



.navigation ul li a:hover{
  color: #bbbbbb;
  background-color: #f2efea;
  cursor: pointer;
}

.box-book{
  position: absolute;
  margin: 4rem 0px;
  min-height: 50vh;
  height: 37rem;
  width: 100%;
  padding: 2rem;
  border-radius: 2%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.admin-dashboard{
  background-color: rgba(248,247,247,0.9);
}
.text-number{
  margin-top: 1rem;
  font: 700 30px 'Lato' ;
  }

.admin-title{
 font-weight: 500;
  font-family: 'Roboto';
  color: black;
  font-size: 18px;
  margin-top: 5px;
}
.admin-paper{
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  padding: 2px 10px 10px 10px;
  margin: 0.5rem 1rem;
  border-radius: 10px;
}
.admin-paper:hover{
  box-shadow: 0 14px 18px rgba(0,0,0,0.25);
  transition: 0.5s;
  background-color: rgba(255,255,255);
}

.user-list{
 display: flex;
 width: 100%;
 padding: 10px;
}

.user-list:hover{
  background-color: #98acf8;
  border-radius: 40px;
  transition: 0.5s;
}

.benefit{
  height: 100%;
  margin: auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title{
  margin-top:'10px';
  text-decoration: 'none';
  color: 'black' !important;
  font-family: 'Cormorant Garamond';
  font-size: '26px' !important;
  font-weight:'700' !important;
}
.benefit-img{
  margin-left: 150px;
}

.author{
  padding: 20px 10px;
 background-image: url('/img/authorbk2.png');
 background-position: center;
 background-size: cover;

}

.footer{
  background-color: #222831;
  color: #bbbbbb;
 
}
.footer-heading{
  font-family: 'Cormorant Garamond';
  color: white;
  font-weight: 500;
  font-size: 25px;
 
}

@media (max-width: 500px){
  .box-book{
    height: 100%;
    margin: 0px;
    padding: 10px;
  }
  .benefit-img{
    margin-left: 0px;
  }
  .box{
    height: 100%;
    margin: 50px 0px;
    padding: 20px;
  }
  .left-social{
    visibility: hidden;
    display: none;
  }
 
}