@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Grand+Hotel&family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;1,300;1,400&family=Josefin+Sans:ital,wght@1,300;1,400&display=swap');
*{  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif' ;
}

.container{
  max-width: 1200px;
}

.a{
  text-decoration: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box{
  position: absolute;
  margin: auto;
  min-height: 50vh;
  height: 800;
  max-width: 1000px;
  top:50%;
  left: 50%;
  border-radius: 2%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
  transform: translate(-50%,-50%);
}

.leftPart{
  position: relative;
 
 height: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightPart{
  position: relative;
  height: 100%;
}

.buttonLogin:hover{
  box-shadow: 1px 8px 9px rgba(0,0,0,0.1);
  transition: all 0.6s;
}

#nprogress .bar{
  height: 3px !important;
  background: #835858 !important;
}
#nprogress . peg{
  box-shadow: 0 0 10px #835858, 0 0 5px #835858 !important;
}